@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vampiro+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.Main {
  color: White;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #0079bf, #5067c5);
  height: 300vh;
}

.Main2 {
  color: White;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #0079bf, #5067c5);
  height: 300vh;
}

.Position{
  margin-top: "400px";
  color: rgb(16, 106, 180);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.LTypo {
  font-family: "Balsamiq Sans", cursive;
  font-size: 50px;
  line-height: 1.2;
}

.MTypo {
  font-family: "Balsamiq Sans", cursive;
  font-size: 20px;
  font-weight: 200px;
  line-height: 1.5;
}

.STypo {
  font-family: "Balsamiq Sans", cursive;
  font-size: 10px;
  font-weight: 100px;
}

img {
  max-width: 600px;
  height: 500px;
  padding-left: 100px;
}
