@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vampiro+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.Sypo {
  font-family: "Balsamiq Sans", cursive;
  font-size: 30px;
  font-weight: 200px;
}

.Partdiv{
  margin: 10px;
}

.FlexColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FlexRawCenter {
  display: flex;
  flex-direction: row;
}

.NavBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-top: 10px;
}

.LeftBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  width: 50%;
  padding-left: 10px;
}

.RightBar {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  padding-right: 10px;
}

.BrandTypo {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  line-height: 1.2;
}

.BrandIcon {
  font-size: 40px;
  margin-right: 10px;
}

.ConnectButton {
  margin-right: 10px;
  background-color: transparent;
  border: none;
  font-family: "Balsamiq Sans", cursive;
  font-size: medium;
  color: aliceblue;
}

.ConnectButton:hover {
  margin-right: 10px;
  background-color: transparent;
  border: none;
  font-family: "Balsamiq Sans", cursive;
  font-size: medium;
  color: aliceblue;
  text-decoration: underline;
}
.SignInButton {
  color: #0079bf;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 6px;
  border: none;
  font-family: "Balsamiq Sans", cursive;
  font-size: medium;
}

.PresDiv {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 10px;
}

.LeftPresDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: start;
  padding: 10px;
}

.RightPresDiv {
  border-radius: 10px;
  padding: 10px;
  width: 800px;
  height: max-content;
}


.BottomLogin {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.EmailForm {
  width: 300px;
  height: 50px;
  font-size: 20px;
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
}

.ButtonBottom {
  width: 300px;
  border: none;
  border-radius: 10px;
  background-color: #72b377;
  color: aliceblue;
  transition: 0.2s;
}

.ButtonBottom:hover {
  width: 315px;
  border: none;
  border-radius: 10px;
  background-color: #3b979e;
  color: aliceblue;
}
.LoginForm {
  margin: 50px;
  padding: 20px;
  color: white;
  background: #4e4e4e94;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transition: fadein 1s;
}

.FormBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px 20px 20px 20px;
}

.InputForm {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.InputForm:hover {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #8795c0;
}

.LoginButton {
  color: #000000;
  padding: 10px;
  margin-bottom: 20px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: #f8f8f8;
  transition: 0.2s;
}

.LoginButton:hover {
  margin-bottom: 20px;
  padding: 5px 15px 5px 15px;
  border: none;
  border-radius: 10px;
  background-color: #3b979e;
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.BoardBody {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5px;
  padding-top: 10px;
}

.ListItem {
  display: flex;
  background-color: #ffffff;
  color: #110f16;
  border-radius: 10px;
  margin: 5px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  box-shadow: 6px 7px 10px 1px rgba(43, 43, 43, 0.836);
}

.ListItem:hover {
  background-color: #adadad;
  color: #110f16;
  border-radius: 10px;
  margin: 5px;
  padding-left: 5px;
  display: flex;
  align-items: center;
}

.LeftList {
  width: 150px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.RightList {
  padding: 10px;
  display: flex;
  align-items: end;
}

.ModalButton {
  color: #b6b6b6;
  border: 1px;
  border-color: #b6b6b6;
  border-radius: 10px;
  background-color: transparent;
}

.ModalButton:hover {
  border: 1px;
  color: #ff0808;
  border-radius: 10px;
}

.IconButton {
  border: 1px;
  border-color: #110f16;
  border-radius: 10px;
  background-color: transparent;
}

.IconButton:hover {
  border: 1px;
  color: #10ff08;
  border-radius: 10px;
  background-color: whitesmoke;
}

.DashboardButton {
  background: linear-gradient(45deg, #e66465, #9198e5);
  border-radius: 10px;
  border-color: black;
  margin: 5px;
}

.DashboardButton:hover {
  background: linear-gradient(45deg, #9198e5, #e66465);
  border-radius: 10px;
  border-color: black;
  margin: 5px;
  padding: 10px

}

.ContainerBlock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  max-height: 2000px;
  max-width: 100%;
}

.Block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  max-height: 700px;
  width: 400px;
  background-color: white;
  border:1px solid #ced4da;
}

.Block:hover {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  max-height: 700px;
  width: 69%;
  background-color: white;
  border:1px solid #ced4da;
}

.InputClass {
  padding-right: 5px;
  padding-left: 5px;
  align-content: center;
  text-align: center;
}

.InputText {
  justify-content: center;
}

.BlockInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5px;
  background-color: #e9ecef;
  max-width: 120px;
  max-height: 120px;
  height: 120px;
  align-content: space-around;
  width: 120px;
  border:1px  #ced4da;
  justify-content: center;
}

.AllInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 700px;
}

.Info {
  align-content: center;
  flex-direction: column;
}

.BlockTable {
  align-content: flex-end;
  text-align:center
}


.FormStyle {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 10px;
}